#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #b54769);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px; /* Adjusted padding */
    text-align: center;
    font-size: 12px; /* Adjusted font size */
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 10px; /* Adjusted margin */
    font-size: 16px; /* Adjusted font size */
}

.layer p {
    font-size: 14px; /* Adjusted font size */
}

.layer a {
    margin-top: 10px; /* Adjusted margin */
    color: #ff004f;
    text-decoration: none;
    font-size: 14px; /* Adjusted font size */
    line-height: 40px; /* Adjusted line height */
    background: #fff;
    width: 40px; /* Adjusted width */
    height: 40px; /* Adjusted height */
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #b54769;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #b54769;
}


@media only screen and (max-width: 600px){
    .sub-title{
        font-size: 40px;
    }
    .layer p{
        font-size: 12px;
    }
    .layer a{
        margin-top: 10px;
        color: #ff004f;
        text-decoration: none;
        font-size: 10px;
        line-height: 30px;
        background: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:linear-gradient(rgba(0,0,0,0.1), #b54769);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}